pipeline/get minifigs from rebrickable.json
{
	"name": "get minifigs from rebrickable",
	"properties": {
		"activities": [
			{
				"name": "Copy Minifigs from Rebrickable API",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Rebrickable API",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:02.000",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "@concat('key ',activity('Get Rebrickable API').output.value)",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"AbsoluteUrl": "$.next"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "MinifigsREST_DS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "MinifigsADLS_DS",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get Rebrickable API",
				"description": "",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://harsh1002keyvault.vault.azure.net/secrets/Rebrickable-API?api-version=7.0",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-02-12T22:00:34Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}